In [1]:
import pandas as pd
import numpy as np

In [7]:
data = pd.read_csv("order.csv",header=None)

In [14]:
data.head()

                  0                 1           2           4          5
0  9wiKXmAeQtAMRXDw  o2Iz2of0SN9CCguR  115.753328  104.057165  30.652979
1  9wiKXmAeQtAMRXDw  o2Iz2of0SN9CCguR  115.753328  104.048498  30.656291
2  WoqsiHBVG8Rc4gqW  s0LlvZIdBW5wkGzB  214.327373  104.045758  30.658250
3  WoqsiHBVG8Rc4gqW  s0LlvZIdBW5wkGzB  214.327373  104.051825  30.665610
4  4sAqQIH9QdfTQN5f  Zxer5hxK37a07CV9  574.814013  104.057995  30.653514

In [10]:
col3 = data[3]
col3 = data.icol(3)
print(col3)

# data.to_csv("20210924_order.csv",index=None)
# data.to_csv("20210924_order.csv",index=None)

0       30.652979
1       30.656291
2       30.658250
3       30.665610
4       30.653514
          ...
7623    30.723922
7624    30.719101
7625    30.715564
7626    30.718826
7627    30.720774
Name: 3, Length: 7628, dtype: float64

In [11]:
data.drop([3],axis=1,inplace=True)

In [13]:
data[5] = col3

In [ ]:
data.to_csv("20210924_order.csv",index=None)